body{
    background-color: hwb(212 49% 28%);
    text-align: center;
    margin:0%
}
header {
    margin-top: 5px;
    border-bottom: solid 2px rgb(rgb(153, 121, 121), green, blue);
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
p {
    color: blueviolet;
}
.sobrenome {
    font-style: italic;
    color: rgb(150, 0, 75);
}
.img1 {
    width: 40%;
}

