body{
    background-color: hwb(212 49% 28%);
    text-align: center;
    margin:0%
    font-family: "Chakra Petch", sans-serif;
}
header {
    margin-top: 5px;
    border-bottom: solid 2px rgb(red, green, blue);
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
p {
    color: blueviolet;
}
.sobrenome {
    font-style: italic;
    color: hotpink;
}
.img1 {
    width: 40%;
}

